*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #EDEDED;
}

.navbar{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

nav{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    margin-right: auto;
}

nav img{
    width: 50px;
    margin-right: 40px;
}

.nav-links{
    display: flex;
    gap: 40px;
    margin-right: 970px;
}

.nav-links a{
    text-decoration: none;
    font-family: 'Heebo', sans-serif;
    color: #1E1B93;
}

.cart{
    margin-left: 95px;
    position: absolute;
    top: 20px;
    right: 15px;
}

.cart-quantity{
    position: absolute;
    top: 15px;
    right: 45px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
}

.hamburger{
    width: 16px;
    display: flex;
    display: none;
}

.hamburger #Ham img{
    width: 16px;
}

.hamburger #close img{
    width: 16px;
}


.header-container {
    position: relative;
}

.header-container img {
    width: 100%;
}

.header-content {
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #06046C;
    text-align: left;
}

.header-content h1 {
    font-family: 'Gothic A1', sans-serif;
    font-size: 5rem;
    margin-bottom: 20px; /* Adjust spacing between image and text */
}

.contact-info{
    padding: 120px;
    font-family: 'Gothic A1', sans-serif;
    font-size: 1rem;
    text-align: center;
}

.contact-info h2{
    font-family: 'Gothic A1', sans-serif;
    text-align: center;
    padding-bottom: 15px;
}


.footer{
    background-color: #5451ad;
    height: 350px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 250px;
  }

  .logo-and-info{
    color: #fff;
    padding: 50px;
  }

  .logo-and-info p{
    margin-top: 15px;
    font-family: 'Heebo', sans-serif;
  }

  .footer-links{
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
    
  .links-col-1{
    display: flex;
    flex-direction: column;
    gap:10px;
  }

  .links-col-1 a{
    font-family: 'Heebo', sans-serif;
    color: #fff;
  }

  .links-col-2{
    display: flex;
    flex-direction: column;
    gap:10px;
  }

  .links-col-2 a{
    font-family: 'Heebo', sans-serif;
    color: #fff;
  }

  .links-col-3{
    display: flex;
    flex-direction: column;
    gap:10px;
  }

  .links-col-3 a{
    font-family: 'Heebo', sans-serif;
    color: #fff;
  }

@media screen and (max-width: 768px) {
    .header-content {
        left: 30%;
    }
    .footer{
        gap: 50px;
    }
}